# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtual environments
.env
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDEs
.idea/
# VS Code
.vscode/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Data files
AIML Dataset.csv
data/
*.csv

# Pytest
.pytest_cache/
